@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
 <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta http-equiv="refresh" content="1800">
    <title>Patriotisk - Indtast data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>@ViewData["Title"] - Patriotisk</title>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body style="background: url(/images/backgroundColor.png) repeat">
    <header class="clearfix hidden-sm-down" style="height: 30vh; background: url(/images/planteavl_c.jpg); background-size: cover; margin-top: 0px;">
        <img class="hidden-sm-down" src="~/images/logo.png" alt="Patriotisk Markforsøg Header">

    </header>

    <div class="container container-fluid">
        <div class="row">
            <div class=" col-sm-12 p-sm-0">

                <nav class="navbar sticky-top navbar-inverse navbar-toggleable-sm">

                    <button class="navbar-toggler navbar-toggler-right bg-success" type="button"
                            data-toggle="collapse" data-target="#mynavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a href="#" class="navbar-brand text-success hidden-md-up">Patriotisk Selskab</a>

                    <div class="collapse navbar-collapse " id="mynavbar">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link text-success" href="@Url.Action("Index", "Home")">Forside</a>
                            <a class="nav-item nav-link text-success" href="@Url.Action("Index", "Admin")">Admin</a>
                            <a class="nav-item nav-link text-success" href="@Url.Action("Index", "Experiment")">Oversigt</a>
                            <a class="nav-item nav-link text-success" href="@Url.Action("Create", "Experiment")">Opret forsøg</a>
                            <a class="nav-item nav-link text-success" href="@Url.Action("AddData", "Experiment")">Indtast data</a>
                        </div><!--navbar nav-->
                        <label class="form-control-label sr-only" for="search">Search </label>
                        <form class="form-inline ">
                            <div class="input-group">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </form>

                    </div><!--navbar collapse-->
                </nav>
            </div>
        </div>
        <section class="col-lg-12 col-md-10 col-sm-12 rounded" style="background-color:white">
            @RenderBody()
        </section>
            <hr />

            <footer>
                <div class="row rounded box-background mt-2 hidden-sm-down" style="font-size:12px">
                    <div class="col col-4 mt-2">
                        <div class="row ">
                            <div class="col col-6">
                                <a href="https://maps.google.com/maps?q=Patriotisk+Selskab,+%C3%98rb%C3%A6kvej+276,+Odense,+Denmark&hl=en&ie=UTF8&sll=55.401,10.390406&sspn=0.055268,0.093899&oq=Pat,+%C3%98rb%C3%A6kvej+276,+Odense,+Denmark&hq=Patriotisk+Selskab,&hnear=%C3%98rb%C3%A6kvej+276,+5220+Odense,+Odense+S%C3%98,+Denmark&t=m&z=17&iwloc=A"><img class="img-fluid" src="~/images/footer map pic.png" /></a>
                            </div>
                            <div class="col col-6">
                                <h6>Patriotisk Selskab</h6>
                                <p>
                                    Ørbækvej 276 <br />5220 Odense SØ<br />
                                    <a href="https://maps.google.com/maps?q=Patriotisk+Selskab,+%C3%98rb%C3%A6kvej+276,+Odense,+Denmark&hl=en&ie=UTF8&sll=55.401,10.390406&sspn=0.055268,0.093899&oq=Pat,+%C3%98rb%C3%A6kvej+276,+Odense,+Denmark&hq=Patriotisk+Selskab,&hnear=%C3%98rb%C3%A6kvej+276,+5220+Odense,+Odense+S%C3%98,+Denmark&t=m&z=17&iwloc=A">Find os på Google Maps</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-3 mt-2">

                        <h6>Kontakt os</h6>
                        <p>
                            Tlf. +45 6315 5400<br />
                            Fax. +45 6593 2015<br />
                            E-mail: patriotisk@patriotisk.dk
                        </p>

                    </div>
                    <div class="col col-3 mt-2">

                        <h6>Åbningstider</h6>
                        <p>
                            Kontoret er åbent:<br />
                            Mandag - torsdag: kl. 8.00-16.00<br />
                            Fredag: kl. 8.00-15.30
                        </p>
                    </div>
                    <div class="col col-2 mt-2">
                        <a href="http://patriotisk.dk/"><img src="~/images/footer logo.png" class="img-fluid" /> </a>
                    </div>

                </div>
            </footer>
</div> <!--End container-->



@RenderSection("Scripts", required: false)
</body>
</html>
