@{
    ViewData["Title"] = "Forside";
    Layout = "~/Views/Shared/PatriotiskLayout.cshtml";
}

<div class="container container-fluid">
    <div class="col-lg-12 rounded">
        <div class="row hidden-sm-down" style="padding:5px">
            <div class="col col-lg-12">
                <h1>Velkommen til Patriotisk Selskabs forsøgsside!</h1>
                <p>Dette er en hjemmeside der er lavet i samarbejde med studerende fra Erhvervsakademiet Lillebælt (EAL), som et tværfagligt projekt.</p>
                <p>Formålet med projektet for Patriotisk Selskabs side, er at have en platform der kan bruges til at demonstrere de forsøgsresultater de vil komme frem til ved deres årlige event ved Bramstrup.</p>
                <p>De studerende har indviligt at arbejde med opgaven, både for at få en god forståelse for, at arbejde med reelle projekter og problemstillinger, og mulighed at at arbejde tværfagligt med andre uddannelser inden for deres rammer. </p>
            </div>
        </div>
        <div class="row" style="padding:5px">
            <a class="col-md-4 col-sm-12 input-group-btn" href="@Url.Action("Vinterraps_example", "Article")">
                <img class="card-img-top mx-auto img-fluid center-cropped"
                     src="~/images/vinterraps.jpg" alt="vinter_raps" />
                <div class="card-block card-img-overlay">
                    <h4 class="card-title text-center">Vinterraps</h4>
                    <!-- <p class="card-text"></p>-->
                </div>
            </a>
            <a class="col-md-4 col-sm-12 input-group-btn" href="@Url.Action("Vinterraps_example", "Article")">

                <img class="card-img-top mx-auto img-fluid center-cropped"
                     src="~/images/vinterhvede.jpg" alt="vinter_hvede" />
                <div class="card-block card-img-overlay">
                    <h4 class="card-title text-center">Vinterhvede</h4>
                    <!-- <p class="card-text"></p>-->
                </div>
            </a>

            <a class="col-md-4 col-sm-12 input-group-btn" href="@Url.Action("Vinterraps_example", "Article")">

                <img class="card-img-top mx-auto img-fluid center-cropped"
                     src="~/images/frøgræs.jpg" alt="Frø_græs" />
                <div class="card-block card-img-overlay">
                    <h4 class="card-title text-center">Frøgræs</h4>
                    <!-- <p class="card-text"></p>-->
                </div>
            </a>

            <a class="col-md-4 col-sm-12 input-group-btn" href="@Url.Action("Vinterraps_example", "Article")">
                <img class="mx-auto img-fluid center-cropped"
                     src="~/images/vaarbyg.jpg" alt="vårbyg" />
                <div class="card-block card-img-overlay">
                    <h4 class="card-title text-center">Vårbyg</h4>
                    <!-- <p class="card-text"></p>-->
                </div>
            </a>

            <a class=" col-md-4 col-sm-12 input-group-btn" href="@Url.Action("Vinterraps_example", "Article")">
                <img class="card-img-top mx-auto img-fluid center-cropped"
                     src="~/images/græs_ukrudt.jpg" alt="græs_ukrudt" />
                <div class="card-block card-img-overlay">
                    <h4 class="card-title text-center">Græsukrudt</h4>
                    <!-- <p class="card-text"></p>-->
                </div>
            </a>
        </div><!--End oversigt row-->
        <br />
    </div>
</div><!-- End main window row -->
