@{
Layout = "PatriotiskLayout_Admin";
}

@model Patriotisk.Models.Experiment
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Forsøg</legend>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label">Navn</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Treatment" class="col-md-2 control-label">Behandling(er)</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Treatment, new { @class = "form-control" })               
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Crop" class="col-md-2 control-label">Afgrøde</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Crop, new { @class = "form-control" })
             </div>
        </div>
        <div class="form-group">
            <label asp-for="FieldName" class="col-md-2 control-label">Mark Navn</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FieldName, new { @class = "form-control" })
              </div>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="col-md-2 control-label">År</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Year, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Gem Forsøg" />
            </div>
        </div>             
    </fieldset>

}
